body {
    text-align: center;
    font-family: 'Courgette', sans-serif;
    color: #3498db;
    font-size: 20px;
}

.page-title{
    font-family: 'Permanent Marker', sans-serif;
    background: #f0f0f0;
}